/db.sqlite3
/helpdesk/migrations/
/.idea/
/.virtualenv/
/__pycache__/
/helpdesk/__pycache__/
/DPHD/__pycache__/
/.venv/
/DPHD/apps/helpdesk/migrations/__init__.py
/DPHD/apps/helpdesk/migrations/0001_initial.py
