<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header>

    <div class="d-flex flex-column flex-md-row align-items-center mb-4 border-bottom justify-content-around">
        <span class="fs-3">HelpDesk</span>
        <nav class="d-flex justify-content-around">
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Мои заявки</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'create' %}">Создать заявку</a>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{ user.get_username }}</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Сменить пароль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Выйти</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">Авторизоваться</a>
            {% endif %}
        </nav>
    </div>

    </header>

<div class="container">
    {% block main %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>